/*including the reset and base css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Box model */
.blk {
  display: block;
}

.inl {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clL {
  clear: left;
}

.clR {
  clear: right;
}

/* Typography */
.fwB {
  font-weight: bold;
}

.fsO {
  font-style: oblique;
}

.taR {
  text-align: right;
}

.taL {
  text-align: left;
}

.taC {
  text-align: center;
}

.tdU {
  text-decoration: underline;
}

.tdN {
  text-decoration: none;
}

.ir {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* Generic image button - can be applied to "a", "button" or "input[type=submit]" */
.btn {
  display: block;
  border: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  text-indent: -1000em;
  cursor: pointer;
}

/*including the compass css3 plugin*/
/* variable for  max page witdh*/
/*class for container which has to clear floats*/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
  outline: none;
}

html {
  -webkit-overflow-scrolling: touch;
  font-family: Arial,sans-serif;
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
}

* {
  outline: none;
}

/* CHANGE LATER */
.page-wrap {
  width: 100%;
}

.wrap {
  width: 900px;
  max-width: 97%;
  margin: auto;
}

body {
  background-color: #fff;
  font-family: Verdana,Arial,sans-serif;
  width: 100%;
  /*background-image: url("../images/wild_oliva.png");*/
  background-image: url("../images/bg.png");
  background-color: #000d22;
  background-position: center top;
  /*overflow-x:hidden;*/
}

.header {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

a.logo {
  float: left;
  position: relative;
}
a.logo .over-logo {
  position: absolute;
  top: 18px;
  right: 35px;
  color: #FF3333;
  font-weight: bold;
  font-size: 50px;
  font-family: "Share Tech",sans-serif;
  text-shadow: 3px 3px 0 #333;
  display: block;
  padding: 5px;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  /* IE 9 */
  -webkit-transform: rotate(-10deg);
  /* Opera, Chrome, and Safari */
}

ul.socials {
  height: 40px;
}
ul.socials li {
  float: left;
  margin: 10px;
}
ul.socials li a {
  width: 40px;
  height: 40px;
  display: block;
}

.sprite {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}
.sprite.fb {
  background-position: -96px 0;
}
.sprite.tw {
  background-position: -145px 0;
}
.sprite.like {
  background-position: -48px 0;
}

ul.tabs li {
  float: left;
  width: 30%;
  position: relative;
  height: 60px;
}
ul.tabs li a {
  display: block;
  height: 100%;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-family: "Share Tech",sans-serif;
  position: relative;
}
ul.tabs li a span {
  position: absolute;
  top: 0;
  left: 0;
}
ul.tabs li.all {
  width: 10%;
}
ul.tabs li.all a {
  background-color: #fff;
}
ul.tabs li.when-you a {
  background-color: #FFD783;
}
ul.tabs li.memes a {
  background-color: #FF6624;
}
ul.tabs li.it-life a {
  background-color: #A8C6FA;
}
ul.tabs li.current a, ul.tabs li:hover a {
  background-image: url("../images/arrow-top.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.view-choice {
  background-color: #333;
  border-bottom: 1px solid #ccc;
}
.view-choice a {
  height: 20px;
  line-height: 20px;
  display: block;
  float: left;
  margin: 10px;
  background-repeat: no-repeat;
  text-indent: 25px;
  color: #fff;
  font-size: 14px;
}
.view-choice a:hover {
  text-decoration: underline;
}

a.grid {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARAQMAAAABo9W5AAAABGdBTUEAALGPC/xhBQAAAAZQTFRFAAAAzMzMyE/AMgAAAAF0Uk5TAEDm2GYAAAASSURBVAjXY/hf38CAD4MAATUARDAf4TM5u24AAAAASUVORK5CIIA=");
}

a.list {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOAQMAAADzI2X3AAAABGdBTUEAALGPC/xhBQAAAAZQTFRFAAAAzMzMyE/AMgAAAAF0Uk5TAEDm2GYAAAASSURBVAjXY/j/v4EBhNEBAXEApfEO9cP7GW8AAAAASUVORK5CIIA=");
  background-position: 0px 2px;
}

.tabs-content {
  background-color: #dcdcdc;
}
.tabs-content ul li {
  float: left;
  margin: 10px;
  overflow: hidden;
}
.tabs-content ul li a {
  display: block;
  position: relative;
  width: 100%;
  width: 200px;
  height: 200px;
}
.tabs-content ul li a h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 30px;
  color: #333;
  font-size: 17px;
  z-index: 99;
  font-family: "Share Tech",sans-serif;
}
.tabs-content ul li a img {
  max-width: 300px;
  position: absolute;
  z-index: 98;
}
.tabs-content ul li a p {
  display: none;
}
.tabs-content ul li .likes {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-image: url("../images/bg.png");
  border-radius: 10px 0 0 10px;
  width: 40px;
  padding: 10px 0;
  padding-left: 10px;
}
.tabs-content ul li .likes a {
  float: left;
  width: 40px !important;
  cursor: pointer;
  height: 40px;
  margin: 10px 0;
  position: relative;
}
.tabs-content ul li .likes a span {
  line-height: 46px;
  position: absolute;
  left: -140%;
  font-family: "Share Tech",sans-serif;
  text-align: center;
  display: block;
  width: 100%;
}

.tabs-content .backButton {
  display: none;
}
.tabs-content ul.list-view li {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  position: relative;
}
.tabs-content ul.list-view li a {
  width: 100%;
}
.tabs-content ul.list-view li a h2 {
  position: relative;
  float: left;
  width: 64%;
  text-align: left;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: transparent;
}
.tabs-content ul.list-view li a img {
  float: left;
  width: 29%;
  height: auto;
  margin-left: 1%;
  position: relative;
}
.tabs-content ul.list-view li a p {
  float: left;
  display: block;
  left: 30%;
  padding-left: 10px;
  width: 30%;
  color: #333;
  font-family: Arial,sans-serif;
  margin-bottom: 50px;
}

ul.grid-view li a h2 {
  font-size: 22px;
  top: 38%;
}
ul.grid-view li .likes {
  display: none;
}

.team {
  width: 660px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.team ul li {
  width: 33.333333333333333333333%;
  float: left;
}
.team ul li img {
  border-radius: 50%;
  display: block;
  width: 90%;
  margin: 0 auto;
}

.footer {
  margin-top: 30px;
}
.footer h3 {
  line-height: 40px;
  font-size: 30px;
  font-family: "Share Tech",sans-serif;
  color: #fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 319px) and (max-device-width: 480px) {
  /* Styles */
  ul.tabs li a {
    font-size: 14px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (fportrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Des
ktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
